{{#extends "base"}}

{{#block "content"}}
<h1>Delete Customer</h1>

<form method="POST">
    <div class="alert alert-danger">
        Are you sure you want to delete the customer {{customer.first_name}} {{customer.last_name}}?
    </div>
    <div>
        <input type="submit" value="Confirm" class="btn btn-danger"/>
        <a href="/customers" class="btn btn-success" style="text-decoration: none;">Cancel</a>
    </div>
</form>

{{/block}}

{{/extends}}